
<%
  var basePath = (page_data.user.profile.custom_url && page_data.user.profile.custom_url !== '')
    ? '/' + page_data.user.profile.custom_url
    : '/' + page_data.user._id;
%>

<!-- Stats + Quick links are injected globally in profile.ejs -->
<!-- LEGACY: templates retained for card rendering (can be migrated later) -->
<% include movie_template.ejs %>
<% include show_template.ejs %>

<!-- Showcases rendering -->
<div class="container" style="margin-top: 24px;">
  <% try { (page_data.showcases || []).forEach(function(sc, idx){ %>
    <% if (String(sc.slug) === 'recent_timeline') { %>
      <%- include('../showcases/recent_timeline.ejs', { userId: page_data.user._id, config: sc.config || {}, title: sc.title || 'Recent Timeline', instanceId: idx, basePath: basePath }) %>
    <% } else if (String(sc.slug) === 'favorite_person') { %>
      <%- include('../showcases/favorite_person.ejs', { config: sc.config || {}, data: sc.data || {}, instanceId: idx }) %>
    <% } else if (String(sc.slug) === 'favorite_title') { %>
      <%- include('../showcases/favorite_title.ejs', { config: sc.config || {}, data: sc.data || {}, instanceId: idx }) %>
    <% } else if (String(sc.slug) === 'favorite_movies') { %>
      <%- include('../showcases/favorite_movies.ejs', { config: sc.config || {}, data: sc.data || {}, instanceId: idx }) %>
    <% } else if (String(sc.slug) === 'favorite_actors') { %>
      <%- include('../showcases/favorite_actors.ejs', { config: sc.config || {}, data: sc.data || {}, instanceId: idx }) %>
    <% } else if (String(sc.slug) === 'favorite_shows') { %>
      <%- include('../showcases/favorite_shows.ejs', { config: sc.config || {}, data: sc.data || {}, instanceId: idx }) %>
    <% } else if (String(sc.slug) === 'my_badges') { %>
      <%- include('../showcases/my_badges.ejs', { user: page_data.user, config: sc.config || {}, data: sc.data || {}, badgesCatalog: page_data.user_badges_catalog || [], instanceId: idx }) %>
    <% } else if (String(sc.slug) === 'custom_text') { %>
      <%- include('../showcases/custom_text.ejs', { user: page_data.user, config: sc.config || {}, instanceId: idx }) %>
    <% } %>
  <% }); } catch(_){} %>
</div>
