<% if(typeof user != 'undefined') { %>
    <script type="text/html" id="show-template">
        <div class="col-md-2 image-box" >
            <a href="/shows/{{tmd_id}}-{{slug}}">
                    <img name="show_id_{{tmd_id}}" class="img-fluid image-box-hover" src="/static/style/img/standard/loading_image.gif"
                        alt="">
            </a>
            <div class="movie-hover image-box-description">
                <p>{{show_title}}</p>
                <div class="row" >
                    <div class="col-md-4">
                        <i  class="far fa-check-circle fa-2x icon-white" 
                            id="add_watched_show_{{tmd_id}}"
                            onclick="event.stopPropagation(); showAddWatched('<%= user._id %>', '{{tmd_id}}', '', '<%= user.permissions.user_private_key %>'); return false;" >
                        </i>
                        <i  class="fas fa-check-circle fa-2x icon-green" 
                            id="remove_watched_show_{{tmd_id}}"  
                            onclick="event.stopPropagation(); showRemoveWatched('<%= user._id %>', '{{tmd_id}}', '', '<%= user.permissions.user_private_key %>'); return false;">
                        </i>
                    </div>
                    <div class="col-md-4">
                        <i  class="far fa-heart fa-2x icon-white" 
                            id="add_favourited_show_{{tmd_id}}" 
                            onclick="event.stopPropagation(); showAddFavourited('<%= user._id %>', '{{tmd_id}}', '<%= user.permissions.user_private_key %>'); return false;">
                        </i>
                        <i  class="fas fa-heart fa-2x icon-red" 
                            id="remove_favourited_show_{{tmd_id}}" 
                            onclick="event.stopPropagation(); showRemoveFavourited('<%= user._id %>', '{{tmd_id}}', '<%= user.permissions.user_private_key %>'); return false;">
                        </i>
                    </div>
                    <div class="col-md-4">
                        <i  class="far fa-bookmark fa-2x icon-white"
                            id="add_saved_show_{{tmd_id}}" 
                            onclick="event.stopPropagation(); showAddSaved('<%= user._id %>', '{{tmd_id}}', '<%= user.permissions.user_private_key %>'); return false;">
                        </i>
                        <i class="fas fa-bookmark fa-2x icon-blue"
                            id="remove_saved_show_{{tmd_id}}" 
                            onclick="event.stopPropagation(); showRemoveSaved('<%= user._id %>', '{{tmd_id}}', '<%= user.permissions.user_private_key %>'); return false;">
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </script>
<% } else { %>
    <script type="text/html" id="show-template">
        <div class="col-md-2 image-box" >
            <a href="/shows/{{tmd_id}}-{{slug}}">
                <img name="show_id_{{tmd_id}}" class="img-fluid image-box-hover" src="/static/style/img/standard/loading_image.gif">
            </a>
            <div class="movie-hover image-box-description">
                <p>{{show_title}}</p>
            </div>
        </div>
    </script>
<% } %>
