<div style="background-color: dimgrey; background-repeat: no-repeat; background-size: cover; background-image: url(https://image.tmdb.org/t/p/w500/<%= page_data.show.backdrop_path %>)">
    <div class="container">
        <% if (page_data.show_videos.length != '0' ) { %>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= page_data.show_videos[0].key %>"
                allowfullscreen></iframe>
        </div>
        <% } %>
    </div>
</div>


<div class="container">
    <!-- Show tag line -->
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                <b>
                    <%= page_data.show.tagline %></b>
            </p>
        </div>

    </div>

    <!-- Show Information -->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <%= page_data.show.name %>
                    </h1>
                    <hr>
                    <p>
                        <%= page_data.show.overview %>
                    </p>

                    <p>


                    </p>

                </div>
                <div class="col-md-3">
                    <h1>
                        Show facts
                    </h1>
                    <hr>
                    <p>
                        <b>Release Date: </b>
                        <%= page_data.show.first_air_date %> <br>
                        <b>Seasons: </b>
                        <%= page_data.show.number_of_seasons %> <br>
                        <b>Episodes: </b>
                        <%= page_data.show.number_of_episodes %> <br>
                        <b>Website: </b>
                        <a href="<%= page_data.show.homepage %>">
                            <%= page_data.show.name %></a> <br>
                    </p>
                </div>
                <div class="col-md-3">
                    <h1>
                        Genres
                    </h1>
                    <hr>
                    <p>
                        <% page_data.show.genres.forEach(function (genre, index){ %>
                            <a href="/shows/genre/<%= genre.id %>"><%= genre.name %></a> <br>
                        <% }); %>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Show seasons -->
    <h2>Seasons</h2>
    <hr>
    <div class="row">
        <% page_data.show.seasons.forEach(function (season, index){ %>
            <% if(season.name.toString() != "Specials") { %>
            <div class="col-md-2 image-box">
                <a href="/shows/<%= page_data.show.id %>/<%= season.id %>">
                    <img class="img-fluid image-box-hover" style="margin-bottom: 20px;" src="https://image.tmdb.org/t/p/w500/<%= season.poster_path %>"
                        alt="">
                    <div class="movie-hover">
                        <h2>
                            <%= season.name %>
                        </h2>
                    </div>
                </a>
            </div>
            <% } %>
        <% }); %>
    </div>




    <!-- Show add watched       -->
    <% if (typeof user != 'undefined') { %>
    <div class="row">
        <div class="col-md-6">
            <form id="watched">
                <input type="hidden" name="user_id" value="<%= user._id %>">
                <input type="hidden" name="Show_id" value="<%= page_data.show.id %>">
                <button type="button" class="btn btn-large">I watched this</button>
            </form>
        </div>
    </div>
    <% } %>
</div>