<div class="container" style="margin-top: 10px;">
  <div class="d-flex flex-column flex-md-row align-items-md-center">
    <div class="mr-md-4" style="flex:0 0 auto;">
      <h1 class="mb-2" style="font-size: 28px;">Browse movies</h1>
      <div style="opacity:.7; font-size: 14px;">Find movies by title or genre</div>
    </div>
    <form class="ml-md-auto mt-3 mt-md-0" style="flex:1 1 auto; max-width: 520px;" onsubmit="event.preventDefault(); searchMovies();">
      <div class="input-group">
        <input id="search_input" name="search_input" type="text" class="form-control" placeholder="Search for a movie...">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>

  <% if ((page_data.genres||[]).length) { %>
    <div class="mt-3">
      <% page_data.genres.forEach(function (genre){ %>
        <a class="badge badge-pill badge-secondary mr-2 mb-2" href="?genre=<%= encodeURIComponent(genre.name.toLowerCase()) %>"><%= genre.name %></a>
      <% }); %>
    </div>
  <% } %>
</div>

<div class="container">
  <div id="movies_holder" class="row"></div>

  <div id="view_more" style="display: none;">
    <div class="page-load-status">
      <div class="loader-ellips infinite-scroll-request">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
      </div>
      <p class="infinite-scroll-last">End of content</p>
      <p class="infinite-scroll-error">No more pages to load</p>
    </div>

    <p><button type="button" class="btn btn-primary btn-lg btn-block view-more-button">View more</button></p>
  </div>
</div>


<% if(typeof user != 'undefined') { %>
    <script type="text/html" id="movie-template">
        <div class="col-md-2 image-box" >
            <a href="/movies/{{id}}-{{slug}}">
            <img name="movie_id_{{id}}" class="img-fluid image-box-hover" loading="lazy" decoding="async" src="https://image.tmdb.org/t/p/w342/{{poster_path}}"
                alt="" 
                onload="    
                    checkIfFavourited('<%= user._id %>', '{{id}}')
                    checkIfWatched('<%= user._id %>', '{{id}}')
                    checkIfSaved('<%= user._id %>', '{{id}}')
                ">
            </a>
            <div class="movie-hover image-box-description">
                <div class="movie-title" title="{{title}}">{{title}}</div>
                <div class="movie-actions">
                    <i  class="far fa-check-circle fa-2x icon-white" 
                        id="add_watched_movie_{{id}}"
                        onclick="event.stopPropagation(); movieAddWatched('<%= user._id %>', '{{id}}', '{{movie_runtime}}', '<%= user.permissions.user_private_key %>'); return false;" >
                    </i>
                    <i  class="fas fa-check-circle fa-2x icon-green" 
                        id="remove_watched_movie_{{id}}"  
                        onclick="event.stopPropagation(); movieRemoveWatched('<%= user._id %>', '{{id}}', '{{movie_runtime}}', '<%= user.permissions.user_private_key %>'); return false;">
                    </i>
                    <i  class="far fa-heart fa-2x icon-white" 
                        id="add_favourited_movie_{{id}}" 
                        onclick="event.stopPropagation(); movieAddFavourited('<%= user._id %>', '{{id}}', '', '<%= user.permissions.user_private_key %>'); return false;">
                    </i>
                    <i  class="fas fa-heart fa-2x icon-red" 
                        id="remove_favourited_movie_{{id}}" 
                        onclick="event.stopPropagation(); movieRemoveFavourited('<%= user._id %>', '{{id}}', '', '<%= user.permissions.user_private_key %>'); return false;">
                    </i>
                    <i  class="far fa-bookmark fa-2x icon-white"
                        id="add_saved_movie_{{id}}" 
                        onclick="event.stopPropagation(); movieAddSaved('<%= user._id %>', '{{id}}', '', '<%= user.permissions.user_private_key %>'); return false;">
                    </i>
                    <i class="fas fa-bookmark fa-2x icon-blue"
                        id="remove_saved_movie_{{id}}" 
                        onclick="event.stopPropagation(); movieRemoveSaved('<%= user._id %>', '{{id}}', '', '<%= user.permissions.user_private_key %>'); return false;">
                    </i>
                </div>
            </div>
        </div>
    </script>
<% } else { %>
    <script type="text/html" id="movie-template">
        <div class="col-md-2 image-box" >
            <a href="/movies/{{id}}-{{slug}}">
                    <img name="movie_id_{{id}}" class="img-fluid image-box-hover" loading="lazy" decoding="async" src="https://image.tmdb.org/t/p/w342/{{poster_path}}"
                        alt="">
            </a>
            <div class="movie-hover image-box-description">
                <div class="movie-title" title="{{title}}">{{title}}</div>
                <div class="movie-actions"></div>
            </div>
        </div>
    </script>
<% } %>
