<div style="background-color: dimgrey; background-repeat: no-repeat; background-size: cover; background-image: url(https://image.tmdb.org/t/p/w500/<%= page_data.movie.backdrop_path %>)">
    <div class="container">
        <% if (page_data.movie_videos.length != '0' ) { %>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= page_data.movie_videos[0].key %>"
                allowfullscreen></iframe>
        </div>
        <% } %>
    </div>
</div>


<div class="container">
    <!-- Movie tag line -->
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <p class="text-center">
                <b>
                    <%= page_data.movie.tagline %></b>
            </p>
        </div>
        <div class="col-md-1">
            <a style="float:right;" href="https://www.themoviedb.org/movie/<%= page_data.movie.id %>">Report</a>
        </div>

    </div>

    <!-- Movie Information -->
    <div class="row">
        <% if (page_data.movie_videos.length != '0' ) { %>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <%= page_data.movie.title %>
                    </h1>
                    <hr>
                    <% if(typeof user != 'undefined') { %>
                        <% if(user_watched != true) { %> 
                            <button id="add_watched_movie" onclick="movieAddWatched('<%= user._id %>', '<%= page_data.movie.id %>', '<%= page_data.movie.runtime %>', '<%= user.permissions.myKey %>')">IWatched This</button>
                            <!-- <button id="add_later_movie" onclick="movieAddWatched('<%= user._id %>', '<%= page_data.movie.id %>', '<%= page_data.movie.runtime %>')">I Want To Watch This</button> -->
                        <% } else  { %>
                            <p style="color:forestgreen">I already saved this</p>
                        <% } %>
                    <% } %>
                    <p>
                        <b>Runtime: </b>
                        <%= page_data.runtime %> <br>
                        <b>Release Date: </b>
                        <%= page_data.movie.release_date %>
                    </p>
                </div>
                <div class="col-md-3">
                    <h1>
                        Movie facts
                    </h1>
                    <hr>
                    <p>
                        <b>Movie Budget: </b>
                        <%= '$' + page_data.movie.budget.toLocaleString('us') %><br>
                        <b>Movie Revenue: </b>
                        <%= '$' + page_data.movie.revenue.toLocaleString('us') %>
                    </p>
                </div>
                <div class="col-md-3">
                    <h1>
                        Genres
                    </h1>
                    <hr>
                    <p>
                        <% page_data.movie.genres.forEach(function (genre, index){ %>
                        <a href="/movies?genre=<%= genre.name.toLowerCase() %>">
                            <%= genre.name %></a> <br>
                        <% }); %>
                    </p>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <%= page_data.movie.title %>
                    </h1>
                </div>
                <div class="col-md-6">
                    <h1>
                        <%= page_data.movie.title %>
                    </h1>
                    <%= page_data.movie.video %>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/<%= page_data.movie.poster_path %>" alt="">
        </div>
        <% } %>
    </div>

    <!-- Similar Movies -->
    <div>
        <h1>Similar Movies</h1>
        <hr>

        <div class="row">
            <% page_data.similar.forEach(function (movie, index){ %>
            <% if(index + 1 <= 12) { %>
            <div class="col-md-2 image-box">
                <a href="/movies/<%= movie.id %>">
                    <img class="img-fluid image-box-hover" style="margin-bottom: 20px;" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>"
                        alt="">
                    <div class="movie-hover">
                        See more
                    </div>
                </a>
            </div>
            <% } %>
            <% }); %>
        </div>
    </div>
</div>