<div style="margin-top:20px;">
  <h3>Closed cases</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>From</th>
        <th>Last update</th>
        <th>Seen (support)</th>
        <th>Seen (user)</th>
        <th style="width:180px;">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% page_data.closed_cases.forEach(function(closedCase){ %>
      <tr>
        <td><strong><%= closedCase.title %></strong></td>
        <td><%= closedCase.messages[0].username %></td>
        <td><%= closedCase.last_updated %></td>
        <td>
          <% if(closedCase.seen_by_support) { %>
            <span class="badge badge-success">yes</span>
          <% } else { %>
            <span class="badge badge-warning">no</span>
          <% } %>
        </td>
        <td>
          <% if(closedCase.seen_by_user) { %>
            <span class="badge badge-success">yes</span>
          <% } else { %>
            <span class="badge badge-warning">no</span>
          <% } %>
        </td>
        <td>
          <a class="btn btn-sm btn-primary" href="/admin/support/case/respond/<%= closedCase._id %>">See case</a>
          <form method="POST" action="/admin/support/case/delete/<%= closedCase._id %>" style="display:inline-block;">
            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>
