<div id="urlHeader">
    <div class="row">
        <div class="col-md-12">
            <h2>Users</h2>
            <p>
                All users on iWatched
            </p>
        </div>
    </div>
</div>

<div style="margin-top:20px;">
  <h3>Users</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Inactive</th>
        <th>Admin</th>
        <th>Sign up date</th>
        <th style="width:160px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% page_data.users.forEach(function(user){ %>
        <tr>
          <td><%= user._id %></td>
          <td>
            <% if(user.profile.custom_url != "" && user.profile.custom_url != null) { %>
              <a style="color: lightblue" href="/<%= user.profile.custom_url %>"><%= user.local.username %></a>
            <% } else { %>
              <a style="color: lightblue" href="/<%= user._id %>"><%= user.local.username %></a>
            <% } %>
          </td>
          <td><%= user.profile.inactive %></td>
          <td><%= user.permissions.level.admin %></td>
          <td><%= user.profile.registration_date %></td>
          <td>
            <a href="/admin/users/<%= user._id %>" class="btn btn-sm btn-primary">Edit</a>
            <!-- Future: delete/deactivate -->
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
