<ul class="nav nav-tabs navbar-light">
    <li class="nav-item">
        <a class="nav-link active" href="/visit/<%= userName %>">Home</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/visit/<%= userName %>/favourites">Favourites</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/visit/<%= userName %>/movies">Movies</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/visit/<%= userName %>/shows">Shows</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/visit/<%= userName %>/reviews">Reviews</a>
    </li>
</ul>


