<div class="container" style="margin-top: 30px;">


    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to iWatched</h1>
            <p>
                <a style="color:lightblue" href="/login">Create an account</a> to start keeping track of how many hours you have wasted
                on watching great movies.
            </p>

        </div>
        <div class="col-md-6">
            <h1>Latest Announcement</h1>
            <div id="latest_announcement">
                <div style="color:#fff; opacity:.75;">Loading announcements...</div>
            </div>
        </div>
    </div>



    <h2>Popular movies</h2>
    <hr>
    <div class="row">
        <% page_data.popular.movies.forEach(function (movie, index){ %>
            <% if(index + 1 <= 18) { %>
                <div class="col-md-2 image-box" >
                    <a href="/movies/<%= movie.id %>">
                        <% if(typeof user != 'undefined') { %>
                            <img class="img-fluid image-box-hover" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>"
                                alt="" 
                                onload="    
                                    checkIfFavourited('<%= user._id %>', '<%= movie.id %>')
                                    checkIfWatched('<%= user._id %>', '<%= movie.id %>')
                                    checkIfSaved('<%= user._id %>', '<%= movie.id %>')">

                        <% } else { %>
                                <img class="img-fluid image-box-hover" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="" >
                        <% } %>
                    </a>
                    <div class="movie-hover image-box-description">
                        <p><%= movie.title %></p>
                        <% if(typeof user != 'undefined') { %>
                            <div class="row" >
                                <div class="col-md-4">
                                        <i  class="far fa-check-circle fa-2x icon-white" 
                                        id="add_watched_movie_<%= movie.id %>"
                                        onclick="event.stopPropagation(); movieAddWatched('<%= user._id %>', '<%= movie.id %>', '<%= movie.runtime %>', '<%= user.permissions.myKey %>'); return false;" >
                                    </i>
                                    <i  class="fas fa-check-circle fa-2x icon-green" 
                                        id="remove_watched_movie_<%= movie.id %>"  
                                        onclick="event.stopPropagation(); movieRemoveWatched('<%= user._id %>', '<%= movie.id %>', '<%= movie.runtime %>', '<%= user.permissions.myKey %>'); return false;">
                                    </i>
                                </div>
                                <div class="col-md-4">
                                    <i  class="far fa-heart fa-2x icon-white" 
                                        id="add_favourited_movie_<%= movie.id %>" 
                                        onclick="event.stopPropagation(); movieAddFavourited('<%= user._id %>', '<%= movie.id %>'); return false;">
                                    </i>
                                    <i  class="fas fa-heart fa-2x icon-red" 
                                        id="remove_favourited_movie_<%= movie.id %>" 
                                        onclick="event.stopPropagation(); movieRemoveFavourited('<%= user._id %>', '<%= movie.id %>'); return false;">
                                    </i>
                                </div>
                                <div class="col-md-4">
                                    <i  class="far fa-bookmark fa-2x icon-white"
                                        id="add_saved_movie_<%= movie.id %>" 
                                        onclick="event.stopPropagation(); movieAddSaved('<%= user._id %>', '<%= movie.id %>'); return false;">
                                    </i>
                                    <i class="fas fa-bookmark fa-2x icon-blue"
                                        id="remove_saved_movie_<%= movie.id %>" 
                                        onclick="event.stopPropagation(); movieRemoveSaved('<%= user._id %>', '<%= movie.id %>'); return false;">
                                    </i>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
</div>

<script>
(function(){
  function render(a){
    var el = document.getElementById('latest_announcement');
    if(!el) return;
    if(!a){ el.innerHTML = '<div style="opacity:.75;">No announcements yet.</div>'; return; }
    var created = new Date(a.created_at).toLocaleString();
    var slug = (a.slug||'').toString();
    el.innerHTML = '<div style="color:#fff; background:#151515; border:1px solid #2a2a2a; border-radius:10px; padding:12px;">'
      + '<div style="font-size:20px; font-weight:700;">'+a.title+'</div>'
      + '<div style="opacity:.75; font-size:12px;">'+created+'</div>'
      + '<div id="ann_md" style="margin-top:8px;"></div>'
      + '<div style="margin-top:8px;"><a style="color: lightblue;" href="/announcements/'+a._id+(slug?('-'+slug):'')+'">Discuss</a> &middot; <a style="color: lightblue;" href="/announcements">See all</a></div>'
      + '</div>';
    try { if(window.marked && window.DOMPurify){ document.getElementById('ann_md').innerHTML = DOMPurify.sanitize(marked.parse(a.text||'')); } else { document.getElementById('ann_md').innerHTML = (a.text||'').replace(/\n/g,'<br>'); } } catch(_){}
    // record impression for logged-in users
    try { fetch('/api/v1/announcements/'+a._id+'/impression', { method:'POST', headers:{'Content-Type':'application/json'} }); } catch(_){ }
  }
  fetch('/api/v1/announcements/latest').then(function(r){ return r.json(); }).then(function(d){ render(d.announcement); }).catch(function(){ render(null); });
})();
</script>
<!-- Markdown + Sanitizer for homepage announcement -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>
</script>
</script>
