<div class="container" style="margin-top:16px;">
  <div class="row">
    <div class="col-md-3" style="text-align:center;">
      <% if (page_data.person && page_data.person.profile_path) { %>
        <img class="img-fluid" src="https://image.tmdb.org/t/p/w342/<%= page_data.person.profile_path %>" alt="<%= page_data.person.name %>" style="border-radius:8px;">
      <% } %>
    </div>
    <div class="col-md-9">
      <h1><%= page_data.person && page_data.person.name %></h1>
      <% if (page_data.person && page_data.person.biography) { 
           var _bio = String(page_data.person.biography||'');
           var _limit = 500;
           var _isLong = _bio.length > _limit;
           var _short = _isLong ? _bio.slice(0, _limit) : _bio;
        %>
        <p id="bio-short" style="white-space:pre-wrap; opacity:.9; display:<%= _isLong ? 'block' : 'block' %>;">
          <%= _short %><% if (_isLong) { %>...<% } %>
        </p>
        <% if (_isLong) { %>
        <p id="bio-full" style="white-space:pre-wrap; opacity:.9; display:none;">
          <%= _bio %>
        </p>
        <button id="bio-toggle" class="btn btn-sm btn-outline-light">Read more</button>
        <script>
          (function(){
            var expanded = false;
            var btn = document.getElementById('bio-toggle');
            var shortEl = document.getElementById('bio-short');
            var fullEl = document.getElementById('bio-full');
            if(btn && shortEl && fullEl){
              btn.addEventListener('click', function(){
                expanded = !expanded;
                shortEl.style.display = expanded ? 'none' : 'block';
                fullEl.style.display = expanded ? 'block' : 'none';
                btn.textContent = expanded ? 'Show less' : 'Read more';
              });
            }
          })();
        </script>
        <% } %>
      <% } %>
    </div>
  </div>

  <div style="margin-top:20px;">
    <h3>Movies (Cast)</h3>
    <hr>
    <div class="row">
      <% (page_data.cast_movies||[]).forEach(function(m){ %>
        <div class="col-md-2 image-box">
          <a href="/movies/<%= m.id %>-<%= (m.title||'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'').substring(0,80) %>">
            <% if (typeof user != 'undefined') { %>
              <img class="img-fluid image-box-hover" src="https://image.tmdb.org/t/p/w342/<%= m.poster_path %>" alt="<%= m.title %>">
            <% } else { %>
              <img class="img-fluid image-box-hover" src="https://image.tmdb.org/t/p/w342/<%= m.poster_path %>" alt="<%= m.title %>">
            <% } %>
          </a>
          <div class="movie-hover image-box-description">
            <p><%= m.title %></p>
            <% if (typeof user != 'undefined') { %>
            <div class="row">
              <div class="col-md-4">
                <i class="far fa-check-circle fa-2x icon-white"
                   id="add_watched_movie_<%= m.id %>"
                   onclick="event.stopPropagation(); movieAddWatched('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                <i class="fas fa-check-circle fa-2x icon-green"
                   id="remove_watched_movie_<%= m.id %>"
                   onclick="event.stopPropagation(); movieRemoveWatched('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
              </div>
              <div class="col-md-4">
                <i class="far fa-heart fa-2x icon-white"
                   id="add_favourited_movie_<%= m.id %>"
                   onclick="event.stopPropagation(); movieAddFavourited('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                <i class="fas fa-heart fa-2x icon-red"
                   id="remove_favourited_movie_<%= m.id %>"
                   onclick="event.stopPropagation(); movieRemoveFavourited('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
              </div>
              <div class="col-md-4">
                <i class="far fa-bookmark fa-2x icon-white"
                   id="add_saved_movie_<%= m.id %>"
                   onclick="event.stopPropagation(); movieAddSaved('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                <i class="fas fa-bookmark fa-2x icon-blue"
                   id="remove_saved_movie_<%= m.id %>"
                   onclick="event.stopPropagation(); movieRemoveSaved('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <div style="margin-top:20px;">
    <h3>Series (Cast)</h3>
    <hr>
    <div class="row">
      <% (page_data.cast_shows||[]).forEach(function(s){ %>
        <div class="col-md-2 image-box">
          <a href="/shows/<%= s.id %>-<%= (s.name||'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'').substring(0,80) %>">
            <% if (s.poster_path) { %>
              <img class="img-fluid image-box-hover" src="https://image.tmdb.org/t/p/w342/<%= s.poster_path %>" alt="<%= s.name %>">
            <% } %>
            <div class="movie-hover image-box-description">
              <p><%= s.name %></p>
              <% if (typeof user != 'undefined') { %>
              <div class="row">
                <div class="col-md-4">
                  <i  class="far fa-check-circle fa-2x icon-white" id="add_watched_show_<%= s.id %>" onclick="event.stopPropagation(); showAddWatched('<%= user._id %>', '<%= s.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                  <i  class="fas fa-check-circle fa-2x icon-green" id="remove_watched_show_<%= s.id %>" onclick="event.stopPropagation(); showRemoveWatched('<%= user._id %>', '<%= s.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                </div>
                <div class="col-md-4">
                  <i class="far fa-heart fa-2x icon-white" id="add_favourited_show_<%= s.id %>" onclick="event.stopPropagation(); showAddFavourited('<%= user._id %>', '<%= s.id %>', '<%= user.permissions.user_private_key %>'); return false;"></i>
                  <i class="fas fa-heart fa-2x icon-red" id="remove_favourited_show_<%= s.id %>" onclick="event.stopPropagation(); showRemoveFavourited('<%= user._id %>', '<%= s.id %>', '<%= user.permissions.user_private_key %>'); return false;"></i>
                </div>
                <div class="col-md-4">
                  <i class="far fa-bookmark fa-2x icon-white" id="add_saved_show_<%= s.id %>" onclick="event.stopPropagation(); showAddSaved('<%= user._id %>', '<%= s.id %>', '<%= user.permissions.user_private_key %>'); return false;"></i>
                  <i class="fas fa-bookmark fa-2x icon-blue" id="remove_saved_show_<%= s.id %>" onclick="event.stopPropagation(); showRemoveSaved('<%= user._id %>', '<%= s.id %>', '<%= user.permissions.user_private_key %>'); return false;"></i>
                </div>
              </div>
              <% } %>
            </div>
          </a>
        </div>
      <% }); %>
    </div>
  </div>

  <% if ((page_data.crew_movies||[]).length) { %>
  <div style="margin-top:20px;">
    <h3>Directed</h3>
    <hr>
    <div class="row">
      <% (page_data.crew_movies||[]).forEach(function(m){ %>
        <div class="col-md-2 image-box">
          <a href="/movies/<%= m.id %>-<%= (m.title||'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'').substring(0,80) %>">
            <% if (typeof user != 'undefined') { %>
              <img class="img-fluid image-box-hover" src="https://image.tmdb.org/t/p/w342/<%= m.poster_path %>" alt="<%= m.title %>">
            <% } else { %>
              <img class="img-fluid image-box-hover" src="https://image.tmdb.org/t/p/w342/<%= m.poster_path %>" alt="<%= m.title %>">
            <% } %>
          </a>
          <div class="movie-hover image-box-description">
            <p><%= m.title %></p>
            <% if (typeof user != 'undefined') { %>
            <div class="row">
              <div class="col-md-4">
                <i class="far fa-check-circle fa-2x icon-white"
                   id="add_watched_movie_dir_<%= m.id %>"
                   onclick="event.stopPropagation(); movieAddWatched('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                <i class="fas fa-check-circle fa-2x icon-green"
                   id="remove_watched_movie_dir_<%= m.id %>"
                   onclick="event.stopPropagation(); movieRemoveWatched('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
              </div>
              <div class="col-md-4">
                <i class="far fa-heart fa-2x icon-white"
                   id="add_favourited_movie_dir_<%= m.id %>"
                   onclick="event.stopPropagation(); movieAddFavourited('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                <i class="fas fa-heart fa-2x icon-red"
                   id="remove_favourited_movie_dir_<%= m.id %>"
                   onclick="event.stopPropagation(); movieRemoveFavourited('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
              </div>
              <div class="col-md-4">
                <i class="far fa-bookmark fa-2x icon-white"
                   id="add_saved_movie_dir_<%= m.id %>"
                   onclick="event.stopPropagation(); movieAddSaved('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
                <i class="fas fa-bookmark fa-2x icon-blue"
                   id="remove_saved_movie_dir_<%= m.id %>"
                   onclick="event.stopPropagation(); movieRemoveSaved('<%= user._id %>', '<%= m.id %>', '', '<%= user.permissions.user_private_key %>'); return false;"></i>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  <% } %>
</div>

<% if (typeof user != 'undefined') { %>
<script>
  (function(){
    try {
      var castMovieIds = (<%- JSON.stringify((page_data.cast_movies||[]).map(m=>m&&m.id).filter(Boolean)) %>);
      var dirMovieIds  = (<%- JSON.stringify((page_data.crew_movies||[]).map(m=>m&&m.id).filter(Boolean)) %>);
      var castShowIds  = (<%- JSON.stringify((page_data.cast_shows||[]).map(s=>s&&s.id).filter(Boolean)) %>);
      function hideIcons(prefix, ids){ ids.forEach(function(id){
        $('#'+prefix+'add_watched_'+id+',#'+prefix+'remove_watched_'+id+',#'+prefix+'add_favourited_'+id+',#'+prefix+'remove_favourited_'+id+',#'+prefix+'add_saved_'+id+',#'+prefix+'remove_saved_'+id).hide();
      }); }
      // cast movies use default ids
      hideIcons('', castMovieIds.map(function(id){ return 'movie_'+id; }));
      // directed movies use _dir_ ids
      dirMovieIds.forEach(function(id){ $('#add_watched_movie_dir_'+id+',#remove_watched_movie_dir_'+id+',#add_favourited_movie_dir_'+id+',#remove_favourited_movie_dir_'+id+',#add_saved_movie_dir_'+id+',#remove_saved_movie_dir_'+id).hide(); });
      // cast shows use default show ids
      castShowIds.forEach(function(id){ $('#add_watched_show_'+id+',#remove_watched_show_'+id+',#add_favourited_show_'+id+',#remove_favourited_show_'+id+',#add_saved_show_'+id+',#remove_saved_show_'+id).hide(); });
      if (window.StatusStore){
        if (castMovieIds.length){ StatusStore.request('movie', castMovieIds).then(function(list){ (list||[]).forEach(function(st, idx){ var id=castMovieIds[idx]; if(!id)return; (st&&st.w?$('#remove_watched_movie_'+id):$('#add_watched_movie_'+id)).show(); (st&&st.f?$('#remove_favourited_movie_'+id):$('#add_favourited_movie_'+id)).show(); (st&&st.s?$('#remove_saved_movie_'+id):$('#add_saved_movie_'+id)).show(); }); }); }
        if (dirMovieIds.length){ StatusStore.request('movie', dirMovieIds).then(function(list){ (list||[]).forEach(function(st, idx){ var id=dirMovieIds[idx]; if(!id)return; (st&&st.w?$('#remove_watched_movie_dir_'+id):$('#add_watched_movie_dir_'+id)).show(); (st&&st.f?$('#remove_favourited_movie_dir_'+id):$('#add_favourited_movie_dir_'+id)).show(); (st&&st.s?$('#remove_saved_movie_dir_'+id):$('#add_saved_movie_dir_'+id)).show(); }); }); }
        if (castShowIds.length){ StatusStore.request('show', castShowIds).then(function(list){ (list||[]).forEach(function(st, idx){ var id=castShowIds[idx]; if(!id)return; (st&&st.w?$('#remove_watched_show_'+id):$('#add_watched_show_'+id)).show(); (st&&st.f?$('#remove_favourited_show_'+id):$('#add_favourited_show_'+id)).show(); (st&&st.s?$('#remove_saved_show_'+id):$('#add_saved_show_'+id)).show(); }); }); }
      }
    } catch(_){}
  })();
</script>
<% } %>
